    *,
    *::after,
    *::before{
          box-sizing: border-box;
    }
body{
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      padding: 0;
}
.container{
      max-width: 1220px;
      padding: 0;
      margin: 0 auto;
}
.header__inner{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
}
.menu__list{
      display: flex;
      gap: 20px;
}
ul{
      margin: 0;
      padding: 0;
      list-style: none;
      cursor: pointer;
}
.button__header{
      padding: 13px 26px 13px 26px;
      cursor: pointer;
}
.sign-in,
.sign-up{
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #2F281E;
}
.sign-in{
      border: 1px solid #BCD0E5;
      margin-right: 32px;
}
.sign-up{
      background-color:#FF9900;
      color: #fff;
      border: none;
}
.section__1-inner{
      display: flex;
      margin-top: 162px;
}
.section__1-title{
      width: 500px;
      font-size: 44px;
      line-height: 54px;
      color: #2F281E;
      margin-bottom: 30px;
}
.section__1-subtitle{
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #544837;
      margin-bottom: 20px;
}
.button{
      width: 180px;
      height: 50px;
      background: #FF9900;
      border-radius: 4px;
      border:none;
      color:#fff;
      font-family: 'Poppins', 'sans-serif';
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
}
.section__1-bg{
      position: relative;
      bottom: 70px;
}

  
                               