body{
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
      padding: 30px 130px 0 130px;
      margin: 0;
}
.p{
      margin: 0;
      padding: 0;
}
a{
      color: #070707;
      text-decoration: none;
      padding: 30px 40px 30px 0;
      
}
ul{
      flex-direction: row;
      list-style: none;
}
li{
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.02em;
}
.container{
      margin-left: 50px;
}
.line__inner{
      content:"";
      width: 970px;
      border: 0.5px solid#828282;
      position: relative;
      color: #828282;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
}
.menu__list{
      display: flex;
      text-align: center;
      justify-content: center;
}
.name{
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
      margin-top: 12px;
      margin-bottom: 50px;
}
.about__inner{
      position:relative;
      width: 1440px;
      height: 500px;
      left: calc(50% - 1440px/2);
      top: 0px;
      background-color: #F6F6F6;
}
.h1{
      font-weight: 700;
      font-size: 34px;
      line-height: 46px;
      text-align: center;
      margin-bottom: 50px;
}
.subtitle{
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 30px;
}