body{
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
}
p{
      margin: 0;
      padding:0;
}
a{
      color: #070707;
      text-decoration: none;
      padding: 30px 40px 30px 0;
}
ul{
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
}
li{
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.02em;
      display: inline-block;
      margin-right: 10px;
}
.container{
      max-width: 970px;
      padding:0;
      margin:0 auto;
      text-align: center;
}
.header__inner{
      margin-top: 30px;
      margin-bottom: 30px;
}  
.line__inner{
      content:"";
      width: 970px;
      border: 0.5px solid#828282;
      position: relative;
      color: #828282;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
}
.menu__list{
      display: flex;
      text-align: center;
      justify-content: center;
}
a:hover{
      color: #828282;
}
.name{
      display: flex;
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
      margin-top: 12px;
      margin-bottom: 50px;
}
.about__inner{
      position: relative;
      display: flex;
      width: 1680px;
      height: 500px;
      left: calc(50% - 1680px/2);
      top: 0px;
      background-color: #828282;
      flex-direction: column;
}
.h1{
      font-weight: 700;
      font-size: 34px;
      line-height: 46px;
      margin-bottom: 50px;
      margin-top: 100px;
}
.title{
      margin-bottom: 20px;
}
.subtitle{
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
}
.text{
      margin-bottom: 50px;
}
.text-2{
      margin-top: 50px;
      margin-bottom: 70px;
   
}
.text-3{
      margin-top: 40px;
      margin-bottom: 200px;
}
.portfolio{
      margin-top: 100px;
}

.container__bg{
      height: 2268px;
      margin-top: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #F6F6F6;
}
.product__list{
      display: flex;
      justify-content: space-between;
}
.application{
      min-width: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
}
.app__name{
      width: 75px;
       height: 38px;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #828282;
      padding-top: 25px;
      padding-bottom: 60px;
}
.after{
      width: 87px;
}
.stars__img{
      color: #E5E5E5;
}
.button{
      padding: 0px 16px;  
      width: 180px;
      height: 44px;
      background: #070707;
      border-radius: 22px;
      border:none;
      margin-top: 30px;
      margin-bottom: 30px;
}
span{
            color:white;
            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            letter-spacing: 0.1em;
}

.social__box{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;
}
.social__img-icon{
      margin-right: 50px;
}

.footer__subtitle{
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #828282;
      margin-bottom: 100px;
}