*{
      box-sizing: border-box;
}
body{
      margin: 0;
      padding: 0;
}
.container{
      width: 1440px;
      margin: 0 auto;
}
.h1{
      font-family: 'Delius Unicase', cursive;
      font-weight: 400;
      font-size: 36px;
      line-height: 45px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #000000;
      margin-top: 120px;
      margin-bottom: 80px;
}
.img{
      border-radius: 20px;
      object-fit: cover;
}
/* .section__1-wrapper{
      display: grid;
      grid-template-rows: auto;
      align-items: center;
      justify-content: center;
}

.section__1-inner{
      align-items: center;
      justify-content: center;
      display: grid;
} */
.text-1,
.text-2{
      position: absolute;
      display: flex;
      width: 330px;
      bottom: -20px;
      margin: 0 20px;
      justify-content: space-between;
}
.name{
      font-weight: 500;
      font-size: 20px;
      font-family: 'Roboto';
      line-height: 23px;
      color: #ffffff;
}
.date{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #E0E0E0;
}