*{
      box-sizing: border-box;
}
body{
      margin: 0;
      padding: 0;
}
.container{
      width: 1170px;
      margin: 0 auto;
}
.h1{
      font-family: 'Delius Unicase', cursive;
      font-weight: 400;
      font-size: 36px;
      line-height: 45px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #000000;
      margin-top: 120px;
      margin-bottom: 80px;
}
.img{
      border-radius: 20px;
      object-fit: cover;
      height: 100%;
      width: 100%;
}
.grid-1-2{
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 30px;
      margin-top: 30px;
}
.grid-2-1{
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 30px;
      margin-top: 30px;
}
.grid__galery{
      display: grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows:repeat(5,1fr);
      gap: 30px;
      margin-top: 30px;
}
.img__1{
      grid-column:1;
      grid-row:1;
}
.img__2{
      grid-column: 2;
      grid-row: 1/2;
}
.img__3{
      grid-column: 3;
      grid-row: 1/1;
}
.img__4{
      grid-column: 1;
      grid-row:2/1;
}




.text{
      display: flex;
      width: 330px;
      bottom: -20px;
      margin: 0 20px;
      justify-content: space-between;
}
.name{
      font-weight: 500;
      font-size: 20px;
      font-family: 'Roboto';
      line-height: 23px;
      color: #ffffff;
}
.date{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #E0E0E0;
}