@import "https://fonts.googleapis.com/css2?family=Lato&family=Red+Hat+Display:wght@400;600&display=swap";
* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

.header__logo {
  margin-top: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5em;
}

.title {
  font-family: "Red Hat Display";
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  margin-bottom: 70px;
}

.first__screen, .description__section, .first__section, .second__section, .third__section {
  margin-bottom: 90px;
}

h1 {
  margin-bottom: 50px;
  font-family: "Red Hat Display";
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
}

.description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

.first-descr {
  width: 570px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 300px;
  left: 0;
  background-color: #f4f4f4;
}

.footer__inner .footer__title {
  font-family: "Red Hat Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer__inner .subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
}

.footer__inner .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__inner .grid-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__inner .social {
  cursor: pointer;
  display: flex;
  gap: 30px;
}

.footer__inner .fa-brands {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
}

.footer__inner .fa-brands::before {
  font-size: 25px;
}

.footer__inner .fa-brands:hover {
  background-color: #565656;
  color: #fff;
}

.footer__inner .footer__text {
  position: absolute;
  width: 314px;
  height: 20px;
  left: calc(50% - 157px);
  bottom: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .container {
    margin: 0 34px;
  }
  .title {
    font-size: 30px;
  }
  .footer__inner .footer__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .grid-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mail {
    margin-bottom: 15px;
  }
}